body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 25vh auto;
    text-align: center;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.search {
    margin-bottom: 20px;

}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.weather {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
    margin-top: 5px;
}

@media screen and (max-width:460px) {
    #searchButton{
        margin-top: 15px;
    }
}